#signUpButton {
    width:350px;
    background-color: #018786;
    color:white;
} 

#CreatorButton , #GenralButton {
    width:350px;
    height: 250px;
} 

#FirstContent , #secondContent {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap; 
     font-size: 15px; 
     line-height: 2rem; 
}  

#heading {
    font-weight: bold;
    font-size:30px;
}    

#GeneralAcc , #CreatorAcc {
    font-weight: bold;
    font-size:30px;
}


